aiofiles==23.1.0
aiohttp==3.8.5
aiosignal==1.3.1
altair==5.0.1
altgraph==0.17.3
annotated-types==0.5.0
anyascii==0.3.2
anyio==3.7.1
apparmor==3.1.3
application-utility==1.3.2
arrow==1.2.3
asgiref==3.5.2
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
autopep8==2.0.2
bcrypt==4.0.1
beautifulsoup4==4.11.2
binaryornot==0.4.4
blinker==1.6.2
boto3==1.28.41
botocore==1.31.41
bottle==0.12.25
Brotli==1.0.9
bs4==0.0.1
btrfsutil==6.2.2
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.3
configobj==5.1.0.dev0
contourpy==1.1.0
cookiecutter==2.3.0
cryptography==38.0.4
cssselect2==0.7.0
cycler==0.11.0
Django==4.2
docopt==0.6.2
docutils==0.20.1
duplicity==1.2.2
ewmh==0.1.6
exceptiongroup==1.1.1
fastapi==0.100.1
fasteners==0.18
ffmpy==0.3.1
filelock==3.8.2
Flask==2.2.5
fonttools==4.41.1
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.2
google-api-core==2.11.0
google-api-python-client==2.83.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
gradio==3.39.0
gradio_client==0.3.0
gTTS==2.3.2
gufw==22.4.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
huggingface-hub==0.16.4
hyperframe==6.0.1
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.18.4
jsonschema-specifications==2023.7.1
kaitaistruct==0.10
Kivy==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
layoutswitcherlib==0.8.34
ldap3==2.9.1
LibAppArmor==3.1.3
libfdt==1.6.1
linkify-it-py==2.0.2
lit==15.0.7.dev0
lxml==4.9.2
manjaro-sdk==0.1
Markdown==3.4.4
markdown-it-py==2.2.0
MarkupSafe==2.1.2
material-color-utilities-python==0.1.5
matplotlib==3.7.2
mdit-py-plugins==0.3.3
mdurl==0.1.2
mitmproxy==9.0.1
mitmproxy_wireguard==0.1.23
MouseInfo==0.1.3
msgpack==1.0.5
multidict==6.0.4
netsnmp-python==1.0a1
nftables==0.1
npyscreen==4.10.5
numpy==1.24.3
oauth2client==4.1.3
openai==0.27.8
orjson==3.9.2
outcome==1.2.0
packaging==23.0
pacman-mirrors==4.23.2
pandas==2.0.3
paramiko==2.11.1
passlib==1.7.4
pbkdf2==1.3
Pillow==9.4.0
ply==3.11
protobuf==4.21.12
proxy-tools==0.1.0
publicsuffix2==2.20191221
pulsectl==22.3.2
pwquality==1.4.5
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycairo==1.23.0
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
PyDrive2==1.15.0
pydub==0.25.1
pygame==2.4.0
PyGetWindow==0.0.9
Pygments==2.15.1
PyGObject==3.44.1
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
PyMsgBox==1.0.9
PyNaCl==1.4.0
pyOpenSSL==22.1.0
pyparsing==3.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
PySide6==6.4.3
PySocks==1.7.1
python-dateutil==2.8.2
python-multipart==0.0.6
python-slugify==8.0.1
python-xlib==0.33
python3-xlib==0.15
PythonTurtle==0.3.2
pyttsx3==2.90
pytweening==1.0.7
pytz==2022.7.1
pywebview==4.1
pywifi==1.1.12
PyYAML==6.0
ranger-fm==1.9.3
referencing==0.30.0
regex==2023.3.23
reportlab==3.6.12
requests==2.28.2
requests-file==1.5.1
rich==13.5.2
rpds-py==0.9.2
rsa==4.9
ruamel.yaml==0.17.22
ruamel.yaml.clib==0.2.7
s3transfer==0.6.2
selenium==4.9.0
semantic-version==2.10.0
setproctitle==1.3.2
shiboken6==6.4.3
shiboken6-generator==6.4.3
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
sqlparse==0.4.4
starlette==0.27.0
svglib==1.5.1
systemd-python==235
team==1.0
text-unidecode==1.3
tinycss2==1.2.1
tk==0.1.0
tldextract==3.4.0
tomli==2.0.1
toolz==0.12.0
tornado==6.3.1
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
typing_extensions==4.7.1
tzdata==2023.3
uc-micro-py==1.0.2
ueberzug==18.1.9
ufw==0.36.1
uritemplate==4.1.1
urllib3==1.26.13
urwid==2.1.2
uvicorn==0.23.1
validate==5.1.0.dev0
webencodings==0.5.1
websockets==11.0.3
webview==0.1.5
Werkzeug==2.3.3
wifi==0.3.8
wsproto==1.2.0
Yapsy==1.12.2
yarl==1.9.2
zstandard==0.19.0
