header {
    background-color: #3f6388;
    /*background-blend-mode:hue;*/
}

main {
   /* background-image: url("/Blog/static/images/42f1bcb4-1f2c-4ca6-9bd6-befb3fda9e13.jpg");
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #3f6388;
}

section {
    background-color:#3d80a7d1;
    padding-bottom: 20px;
}

li.nav-item .nav-link.active{
    background-color: #3d80a7d1;
    
}


footer {
    background-color: #3f6388;
    color: aqua;
}